<a href="https://colab.research.google.com/github/ajayaviyyapu/LearningPython/blob/main/PythonAssignements/Assignments_Tuples2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Unpack siblings and parents from family_members
family_members_tuple = ('Krsna', 'Balaram', 'Sudama', 'Radha', 'Lalitha', 'Vishaka', 'Nanda', 'Yashoda')
siblings_tuple = family_members_tuple[0:len(family_members_tuple)-2]
parents_tuple = family_members_tuple[-2:]
print(siblings_tuple)
print(parents_tuple)

#Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

('Krsna', 'Balaram', 'Sudama', 'Radha', 'Lalitha', 'Vishaka')
('Nanda', 'Yashoda')

In [21]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#Find the length of the set it_companies
print(len(it_companies))

#Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

#Insert multiple IT companies at once to the set it_companies
new_companies = {'TCS','Infosys','Wipro'}
it_companies.update(new_companies)
print(it_companies)

#Remove one of the companies from the set it_companies
it_companies.remove('Oracle')
print(it_companies)

#What is the difference between remove and discard

#Discard does not raise errors if the element does not match
it_companies.discard('Amazonn')
print(it_companies)

#it_companies.remove('Oraclee') raises error

#Join A and B
print(A.union(B))

#Find A intersection B
print(A.intersection(B))

#Is A subset of B
print(A.issubset(B))

#Are A and B disjoint sets
print(A.isdisjoint(B))

#Join A with B and B with A
print(A.union(B))
print(B.union(A))

#What is the symmetric difference between A and B
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

7
{'Facebook', 'Amazon', 'Twitter', 'Apple', 'Oracle', 'IBM', 'Google', 'Microsoft'}
{'Twitter', 'Infosys', 'Oracle', 'Amazon', 'IBM', 'Facebook', 'TCS', 'Apple', 'Microsoft', 'Google', 'Wipro'}
{'Twitter', 'Infosys', 'Amazon', 'IBM', 'Facebook', 'TCS', 'Apple', 'Microsoft', 'Google', 'Wipro'}
{'Twitter', 'Infosys', 'Amazon', 'IBM', 'Facebook', 'TCS', 'Apple', 'Microsoft', 'Google', 'Wipro'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
{27, 28}