In [1]:
#Lists

krishnalist = list()

krishnalist.insert(0,'Rama')
krishnalist.insert(1,'Shyama')
krishnalist.insert(2,'Madhava')
krishnalist.insert(3,'Govinda')
krishnalist.insert(4,'Giridhari')

print(len(krishnalist))

print("First Item " + krishnalist[0])
print("Middle Item " + krishnalist[len(krishnalist)//2])
print("Last Item " + krishnalist[len(krishnalist) - 1])

mixed_data_type = list()
mixed_data_type.insert(0,'Rama')
mixed_data_type.insert(1,25)
mixed_data_type.insert(2,500000)
mixed_data_type.insert(3,'Married')
mixed_data_type.insert(4,'Voltastreet 63, America')

print(mixed_data_type)

krishnalist[2] = 'Keshava'
print(krishnalist)

krishnalist.insert(2,'Narayana')
print(krishnalist)

print('#;'.join(krishnalist))

krishnalist[3] = str(krishnalist[3]).upper()
print(krishnalist)

print(type(krishnalist.index('Govinda')) is int)

krishnalist.sort()
print(krishnalist)

krishnalist.reverse()
print(krishnalist)

print(krishnalist[0:2])
print(krishnalist[-3:-1])

krishnalist.pop();

print(krishnalist)

krishnalist.append('Narasimha')

print(krishnalist)

if(len(krishnalist)%2 == 0):
    print(krishnalist[len(krishnalist)//2 - 1:len(krishnalist)//2 + 1])
else:
    print(krishnalist[len(krishnalist)//2:len(krishnalist)//2 + 1])


krishnalist.pop(0);
print(krishnalist)

krishnalist.pop(len(krishnalist) - 1);
print(krishnalist)

krishnalist.insert(0,'Madhusudhana')

if(len(krishnalist)%2 == 0):
    krishnalist.pop(len(krishnalist)//2 - 1)
    krishnalist.pop(len(krishnalist)//2 + 1)
else:
    krishnalist.pop(len(krishnalist)//2)

print(krishnalist)

krishnalist.clear()
print(krishnalist)

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

full_stack.insert(full_stack.index('Redux') + 1,'Python')
full_stack.insert(full_stack.index('Python') + 1,'SQL')
print(full_stack)

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort();
print('max age {}'.format(ages[-1]))
print('min age {}'.format(ages[0]))
print(ages)

if(len(ages)%2 == 0):
  print('median age {}'.format(int(((ages[len(ages)//2 - 1]) + (ages[len(ages)//2]))/2)))
else:
  print('median age {}'.format(ages[len(ages)//2 - 1]))

print("Average {}".format(sum(ages)/len(ages)))

avg = sum(ages)/len(ages)

print("Range {} - {}".format(min(ages),max(ages)))

print(abs(min(ages)-avg), abs(max(ages)-avg))

ran = range(5)

for ran in range(5,20,2):
  print(ran)

5
First Item Rama
Middle Item Madhava
Last Item Giridhari
['Rama', 25, 500000, 'Married', 'Voltastreet 63, America']
['Rama', 'Shyama', 'Keshava', 'Govinda', 'Giridhari']
['Rama', 'Shyama', 'Narayana', 'Keshava', 'Govinda', 'Giridhari']
Rama#;Shyama#;Narayana#;Keshava#;Govinda#;Giridhari
['Rama', 'Shyama', 'Narayana', 'KESHAVA', 'Govinda', 'Giridhari']
True
['Giridhari', 'Govinda', 'KESHAVA', 'Narayana', 'Rama', 'Shyama']
['Shyama', 'Rama', 'Narayana', 'KESHAVA', 'Govinda', 'Giridhari']
['Shyama', 'Rama']
['KESHAVA', 'Govinda']
['Shyama', 'Rama', 'Narayana', 'KESHAVA', 'Govinda']
['Shyama', 'Rama', 'Narayana', 'KESHAVA', 'Govinda', 'Narasimha']
['Narayana', 'KESHAVA']
['Rama', 'Narayana', 'KESHAVA', 'Govinda', 'Narasimha']
['Rama', 'Narayana', 'KESHAVA', 'Govinda']
['Madhusudhana', 'Rama', 'KESHAVA', 'Govinda']
[]
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']
max age 26
min age 19
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
median age 24
Average 22.8
Range 19 - 26
3.8000000000000007 3.1999999999999993
5
7
9
11
13
15
17
19